<%- include('../partials/header') %>

<div>
    <h2><%=title%></h2><br>
    <form class="new-form" action="/characters/<%=character._id%>/equipment" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required>
        
        <label>Cost:</label>
        <input type="number" name="cost" value="1" min="0">
        <div id="radio">
            <input type="radio" id="cp" name="currency" value="cp" checked>
            <label for="cp">Copper</label><br>
            <input type="radio" id="sp" name="currency" value="sp">
            <label for="sp">Silver</label><br>
            <input type="radio" id="gp" name="currency" value="gp">
            <label for="gp">Gold</label>
        </div>

        <label>Weight (lb):</label>
        <input type="number" name="weight" value="1" min="0">
        <input type="submit" value="Add Equipment">
    </form>
</div>

<%- include('../partials/footer') %>