<%- include('partials/header') %>

<div>
    <h2>D&D Character Builder</h2>
    <p>Build and save basic D&D 5e characters!</p>
    <% if (user) { %>
        <p>Welcome back, <%= user.name %>!</p><br>
        <a href="/characters" class="nav">My Characters</a>
    <% } else { %>
        <p>Login to get started:</p><br>
        <a href="/auth/google" class="nav">Login with Google</a>
    <% } %>
</div>

<div class="landing">
    <h3>Resources</h3>
    <p><a href="https://media.wizards.com/2018/dnd/downloads/DnD_BasicRules_2018.pdf">D&D Basic Rules</a></p>
    <p><a href="https://www.dndbeyond.com/sources/basic-rules">D&D Beyond &#8212 Step-By-Step Guide</a></p>
    <br>

    <h3>Attributions</h3>
    <p><a href="https://thenounproject.com/icon/hammer-188614/">Hammer</a> by Maciej Świerczek <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>
    <p><a href="https://web.archive.org/web/20120606024602/http://aterribleidea.com/108-terrible-character-portraits-gallery/">Portraits</a> by Jeff Preston <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p>
</div>

<%- include('partials/footer') %>