<%- include('partials/header') %>

<div>
    <h2>D&D Character Builder</h2>
    <p>Build and save basic D&D 5e characters!</p>
    <p>Login to get started:</p>
    
</div>

<%- include('partials/footer') %>