* {
  box-sizing: border-box;
  font-family: Helvetica;
  color:white;
}

:root {
  --red: #bb4839;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: var(--red);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px 0 10px;
}

nav > #logo > img {
  margin: 0 10px;
  width: 34px;
  object-fit: contain;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #555555;
  padding: 20px;
  overflow-y: scroll;
}

nav > .nav {
  font-family: Garamond;
  letter-spacing: 1px;
  margin: 10px 7px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav > .nav:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

nav > .nav:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav > #auth {
  margin-left:auto;
  margin-right: 20px;
}