* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color:white; */
}

:root {
  --red: #bb4839;
  --navajo-white: #ffdda1;
  --old-lace: #F7F3E3;
  --bleached-almond: #FCECC9;
  --opal: #CEDFD9;
  --timber-wolf: #D9DCD6;
  --gold-crayola: #E6C79C;
  --background: #555555;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: var(--red);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px 0 10px;
}

nav > #logo > img {
  margin: 0 10px;
  width: 34px;
  object-fit: contain;
}


body > main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--gold-crayola);
  padding: 20px;
  overflow-y: scroll;
}

main > div {
  grid-column: span 2;
  background-color: var(--background);
  border-radius: 10px;
  text-align: center;
  width: 360px;
  color: white;
  place-self: center;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

main > section {
  grid-column: span 1;
  justify-self: center;
  background-color: var(--navajo-white);
  margin: 20px;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 100px 100px 100px;
}

.characterText {
  grid-column: span 1;
  grid-row: span 1;
}

.characterImg {
  grid-column: span 1;
  grid-row: span 3;
}

main > div > .nav {
  background-color: var(--red);
}

.nav {
  font-family: Garamond;
  color: white;
  letter-spacing: 1px;
  margin: 10px 7px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.nav:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#auth {
  margin-left:auto;
  margin-right: 20px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#new-form > textarea {
  grid-column: span 2;
  width: 80%;
  height: 100px;
  resize: vertical;
  margin-left: auto;
  margin-right: auto;
}

#new-form > input, select {
  width: 80%;
}

#new-form > .textArea {
  grid-column: span 2;
  margin-left: auto;
  margin-right: auto;
}

#new-form > input[type="submit"] {
  grid-column: span 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -15px;
  padding: 5px;
}