* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color:white; */
}

:root {
  --red: #bb4839;
  --navajo-white: #ffdda1;
  --old-lace: #F7F3E3;
  --bleached-almond: #FCECC9;
  --opal: #CEDFD9;
  --timber-wolf: #D9DCD6;
  --gold-crayola: #E6C79C;
  --background: #555555;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: var(--red);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px 0 10px;
}

nav > #logo > img {
  margin: 0 10px;
  width: 34px;
  object-fit: contain;
}


body > main {
  grid-area: main;
  display: grid;
  row-gap: 50px;
  column-gap: 20px;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--gold-crayola);
  padding: 20px 20%;
  overflow-y: scroll;
}

main > div {
  grid-column: span 4;
  background-color: var(--background);
  border-radius: 10px;
  text-align: center;
  color: white;
  place-self: center;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 360px;
  margin: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#portraitSelect {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#portraitSelect > form {
  grid-column: span 2;
}

#portraitSelect > form > label > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#portraitSelect > form > input[type="submit"] {
  grid-column: span 2;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -15px;
  padding: 5px;
}

#portraitSelect > form > label > img {
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  width: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#portraitSelect > form > label > input:checked + img {
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px white;
}


.landing {
  margin-top: 0;
  text-align: left;
  padding: 0 20px 20px 20px;
}

.landing > p > a {
  color: #e0695a;
  text-decoration: none;
}

.landing > p > a:hover {
  color: #bb4839;
}

main > .card {
  margin-top: 20px;
  grid-column: span 2;
  background-color: var(--background);
  border-radius: 10px;
  color: white;
  place-self: center;
  min-height: 200px;
  width: 400px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
}

.profile {
  margin-top: 20px;
  grid-column: span 2;
  background-color: var(--background);
  border-radius: 10px;
  color: white;
  justify-self: stretch;
  align-self: start;
  min-height: 200px;
  min-width: 400px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px auto auto;
  overflow-x: auto;
}

.profile > h3 {
  align-self: start;
  grid-column: span 3;
  grid-row: span 1;
  margin-left: 35px;
}

.profile > div {
  grid-column: span 3;
  grid-row: span 2;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: auto;
}

#abilityScores {
  margin-top: 10px;
  margin-bottom: auto;
  grid-column: span 3;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

#abilityScores > p {
  grid-column: span 1;
  grid-row: span 1;
}

#abilityScores > p > span {
  margin-left: 7px;
}

.lastElement {
  padding-bottom: 30px;
}

main > .card:hover {
  box-shadow: 1px 1px 10px rgba(122, 53, 53, 1.0);
}

main > .card:active {
  box-shadow: 1px 1px 10px rgba(122, 53, 53, 1.0), inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.characterText {
  align-self: center;
  justify-self: start;
  grid-column: span 1;
  grid-row: span 3;
}

.embedded {
  justify-self: stretch;
  grid-column: span 3;
  grid-row: span 2;
  margin: 0 20px auto 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

tr {
  text-align: end;
}

.equipmentTable {
  text-align: center;
}

.equipmentData {
  padding-top: 5px;
  padding-bottom: 5px;
}

thead {
  text-align: center;
  text-decoration: underline;
}

.data {
  padding-left: 5px;
  text-align: justify;
}

.profileText {
  justify-self: stretch;
  align-self: center;
  grid-column: span 2;
  grid-row: span 3;
}

.profileImg {
  place-self: center;
  margin-left: 35px;
  border-radius: 5px;
  width: 100px;
  grid-column: span 1;
  grid-row: span 3;
}

.profileImg:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.characterImg {
  place-self: center;
  border-radius: 5px;
  width: 100px;
  grid-column: span 1;
  grid-row: span 3;
}

main > div > .nav {
  background-color: var(--red);
}

.nav {
  font-family: Garamond;
  color: white;
  letter-spacing: 1px;
  margin: 10px 7px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.nav:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#auth {
  margin-left:auto;
  margin-right: 20px;
}

.new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.new-form > textarea {
  grid-column: span 2;
  width: 70%;
  height: 100px;
  resize: vertical;
  margin-left: auto;
  margin-right: auto;
}

.new-form > input, select {
  width: 80%;
}

.new-form > .textArea {
  grid-column: span 2;
  margin-left: auto;
  margin-right: auto;
}

.new-form > input[type="submit"] {
  grid-column: span 2;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -15px;
  padding: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -15px;
  max-height: 35px;
  padding: 10px 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.delete {
  text-decoration: none;
  font-size: 15px;
  border: none;
  color: white;
  background: var(--red);
}

.delete:disabled {
  color: rgb(165, 165, 165);
}

.button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#radio {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#radio > label {
  margin-right: 15px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

::-webkit-scrollbar-thumb:active {
  background: var(--red);
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-corner {
  background-color: rgba(255, 217, 0, 0)700
}